/*
Z indexes:
Error background and loading background: 0
Canvases: 10 - 19
Click capture: 20
Tooltip window: 21
Toolbar: 22
Resources: 23
Active alert box: 30
*/


html,body {
	width: 100%;
	height: 100%;
	margin: 0px;
	overflow: hidden;
}
canvas {
	border-right: 2px dashed green;
	border-bottom: 2px dashed green;
	position: absolute;
	z-index: calc(10 + var(--z));
}

#error_background {
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background-color: red;
	text-align: center;
	font-size: 250%;
	padding: 50px 20px;
	font-family: sans-serif;
	font-weight: bold;
	z-index: 0;
}
#loading_background {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #44C;
	text-align: center;
	font-size: 200%;
	z-index: 0;
}
#game_background {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
	color: black;
}
#toolbar {
	position: absolute;
	display: flex;
	bottom: 20px;
	width: 60%;
	left: 20%;
	right: 20%;
	top: 90%;
	--cell-size: calc(10% - 20px - 1%);
	background-color: rgba(0, 0, 255, 0.2);
	border-radius: 5%;
	z-index: 22;
}
.hidden {
	margin-top: 10000%;
	position: absolute;
	display: none;
	visibility: hidden;
}
.selected {
	border: 5px ridge green;
}
#clickcapture {
	z-index: 20;
	position: absolute;
	width: 100%;
	height: 100%;
}
#resources {
	position: absolute;
	z-index: 23;
	margin-left: 40%;
	margin-right: 40%;
	width: 20%;
	text-align: center;
	font-size: 32px;
	font-family: sans-serif;
	border: 2px solid gray;
	background-color: rgba(0, 0, 255, 0.2);
}
#resources span {
	margin-left: 4px;
	margin-right: 4px;
}
#resources span::before {
	width: 32px;
	height: 32px;
	margin-right: 4px;
	background-size: 32px;
	content: "";
	display: inline-block !important;
	background-image: var(--image-url);
}

@keyframes alertfade {
	from {
		background-color: rgba(0, 0, 255, 0.0);
		border-color: rgba(0, 0, 0, 0.0);
		color: rgba(255, 255, 255, 0.1);
	}
	to {
		background-color: rgba(0, 255, 255, 0.4);
		border-color: rgba(0, 0, 0, 0.8);
		color: rgba(255, 255, 255, 1.0);
	}
}
@keyframes rainbow {
	0% {
		background-color: hsl(0deg, 100%, 50%);
	}
	50% {
		background-color: hsl(180deg, 100%, 50%);
	}
	100% {
		background-color: hsl(0deg, 100%, 50%);
	}
}
#alertbox {
	position: absolute;
	top: 35%;
	left: 35%;
	width: 30%;
	height: 30%;
	border-color: black;
	border-radius: 2px;
	border-width: 5px;
}
#alertbox.active {
	border-style: solid;
	animation-name: alertfade;
	animation-duration: 500ms;
	animation-fill-mode: both;
	z-index: 30;
}
#alertmessage {
	font-size: min(200%, calc(50000% / var(--text-length)));
	text-align: center;
	overflow-wrap: break-word;
}
#alertexit {
	position: absolute;
	font-size: 200%;
	right: 5%;
	bottom: 5%;
}
#tooltipbox {
	--x: -1000px;
	--y: -1000px;
	z-index: 21;
	position: absolute;
	top: var(--y);
	left: var(--x);
	border: 4px solid #393C;
	border-radius: 2px;
	user-select: none;
	font-size: 150%;
	font-family: sans-serif;
	color: white;
	background-color: #55E8;
	padding: 2px 5px;
}
