/*
Z indexes:
Error background and loading background: 0
Canvases: 10 - 19
Click capture: 20
Toolbar: 22
Resources: 26
Research: 25
Tooltip window: 29
Active alert box: 30
*/


html,body {
	width: 100%;
	height: 100%;
	margin: 0px;
	overflow: hidden;
}
canvas {
	border-right: 2px dashed green;
	border-bottom: 2px dashed green;
	position: absolute;
	z-index: calc(10 + var(--z));
}

#error_background {
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background-color: red;
	text-align: center;
	font-size: 250%;
	padding: 50px 20px;
	font-family: sans-serif;
	font-weight: bold;
	z-index: 0;
}
#loading_background {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #44C;
	text-align: center;
	font-size: 200%;
	z-index: 0;
}
#game_background {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
	color: black;
}
#toolbar {
	position: absolute;
	display: flex;
	width: 60%;
	height: 7%;
	bottom: 10px;
	left: 20%;
	--cell-size: calc(10% - 20px - 1%);
	background-color: rgba(0, 0, 255, 0.2);
	border-radius: 5%;
	z-index: 22;
}
.hidden {
	margin-top: 10000%;
	position: absolute;
	display: none;
	visibility: hidden;
}
.text-button {
	cursor: pointer;
}
.text-button:hover {
	text-shadow: 0 0 5px white;
}
.selected {
	border: 5px ridge green;
}
#clickcapture {
	z-index: 20;
	position: absolute;
	width: 100%;
	height: 100%;
}

#hudtext {
	z-index: 23;
	position: absolute;
	left: 0;
	padding-left: 5px;
	width: 20%;
	font-size: 24px;
	font-family: sans-serif;
	color: white;
	text-shadow: 0 0 1px black;
	border: 2px solid green;
	background-color: #077A;
}

#resources {
	position: absolute;
	z-index: 26;
	left: 32.5%;
	right: 32.5%;
	width: 35%;
	text-align: center;
	font-size: 24px;
	font-family: sans-serif;
	color: white;
	text-shadow: 0 0 1px black;
	border: 2px solid green;
	background-color: #077A;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
#resources span {
	overflow-x: visible;
	white-space: nowrap;
}
#resources span.flashing {
	animation-name: flashred;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}
#resources span::before {
	--size: 28px;
	width: var(--size);
	height: var(--size);
	margin-right: 4px;
	background-size: var(--size);
	content: "";
	display: inline-block !important;
	background-image: var(--image-url);
}

#objective {
	position: absolute;
	z-index: 23;
	right: 0;
	top: 0;
	min-height: 10%;
	min-width: 15%;
	max-width: 25%;
	background-color: #077A;
	font-family: sans-serif;
	padding-left: 10px;
	padding-bottom: 10px;
}
#objective-title {
	margin-bottom: 5px;
}
#objective-text {
	font-size: 26px;
	text-align: center;
	color: white;
	text-decoration: underline;
}
#objective.complete #objective-text {
	animation: flashgreen 1s infinite;
	cursor: pointer;
}
/* #objective-complete-icon {
	color: lime;
	font-size: 36px;
}
#objective-complete-icon.disabled {
	display: none;
}
*/
#objective-next-button {
	display: none;
}
#objective.complete #objective-next-button {
	display: unset;
	color: white;
	font-size: 48px;
	line-height: 30px;
	cursor: pointer;
	animation: flashgreen 1s infinite;
	animation-timing-function: steps(1);
}
#objective-description {
	color: #DDD;
}

#toolbar img {
	cursor: pointer;
	user-select: none;
}
#toolbar img.locked {
	filter: opacity(0.3) brightness(0);
	cursor: not-allowed;
}

#buttons-pane {
	z-index: 23;
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: 36px;
	font-family: sans-serif;
	color: white;
	text-shadow: 0 0 1px black;
	border: 2px solid green;
	background-color: #077A;
	padding: 5px;
}
#buttons-pane span {
	padding-right: 8px;
}

#research-menu {
	z-index: 25;
	position: absolute;
	width: 90%;
	left: 5%;
	height: 90%;
	top: 8%;
	border: 5px solid green;
	background-color: #111;
	padding: 0 10px;
}
#research-header {
	padding-left: 20px;
	margin: 15px 0;
	color: white;
	font-family: sans-serif;
	font-size: 50px;
	display: flex;
	justify-content: space-between;
}

/* #research-tree-wrapper {
	
} */
.research-tree-inner {
	display: flex;
	flex-direction: row;
	gap: 10px;
	--right-offset: 0.5;
	--bar-width: 1.2;
}
.research-tree-node {
	--size: calc((90vw - (var(--nodes) - 1) * 15px) / var(--nodes));
	--drop: 5.5vh;
	height: var(--size);
	width: var(--size);
	--box-color: white;
	--line-color: white;
	outline: 2px solid var(--box-color);
	background: #808080;
	margin-top: calc(var(--drop) * var(--depth));
}
.research-tree-node.locked {
	cursor: pointer;
	background-color: #222;
	--box-color: gray;
}
.research-tree-node.locked img {
	filter: brightness(0.3);
}
.research-tree-node.inaccessible {
	--color: #0000;
	filter: opacity(0.2) brightness(0);
}
.research-tree-node.inaccessible::after {
	content: unset;
}
.research-tree-node img {
	height: 100%;
	width: 100%;
}
.research-tree-node::after {
	position: relative;
	z-index: -1;
	top: calc(-1.5 * var(--size));
	right: calc((var(--bar-width) - var(--right-offset)) * var(--size));
	display: block;
	border-top: 2px solid var(--line-color);
	border-right: 2px solid var(--line-color);
	content: "";
	height: calc(var(--drop));
	width: calc(var(--bar-width) * var(--size));
}

#screen-overlay {
	display: none;
	position: absolute;
	z-index: 29;
	width: 100%;
	height: 100%;
}
#screen-overlay.active {
	display: block;
	animation: fadetoblack 1500ms both;
}

#credits-container {
	display: none;
	position: absolute;
	z-index: 29;
	width: 100%;
	height: 100%;
}
#credits-inner {
	display: none;
	position: absolute;
	z-index: 29;
	width: 100%;
	height: 100%;
}
#credits-container.active {
	display: block;
	background-color: #111;
}
#credits-container.active #credits-inner {
	display: block;
	animation: creditsroll 60s both linear;
	background-color: #111;
	color: white;
	font-family: sans-serif;
}
#credits-logo {
	margin: 100px auto;
	display: block;
	width: 300px;
	height: 300px;
	background-image: linear-gradient(to bottom right, #888, #CCC, #888, #CCC);
}

#credits-inner h2 {
	text-align: center;
	margin-bottom: 3vh;
	font-size: 5vh;
	color: #33F;
}

#credits-inner p {
	text-align: center;
	margin: 8vh 0;
	font-size: 3.5vh;
}

#credits-title {
	text-align: center;
	margin-bottom: 10vh;
	font-size: 10vh;
	text-shadow: 0 0 15px blue;
}


@keyframes creditsroll {
	from {
		margin-top: 100vh;
	}
	to {
		margin-top: -100%;
	}
}

@keyframes fadetoblack {
	from {
		background-color: #0000;
	}
	to {
		background-color: #000F;
	}
}

@keyframes flashred {
	0% {
		text-shadow: 0 0 4px red;
		color: red;
	}
	50% {
		text-shadow: 0 0 4px white;
		color: white;
	}
	100% {
		text-shadow: 0 0 4px red;
		color: red;
	}
}
@keyframes flashgreen {
	0% {
		text-shadow: 0 0 4px lime;
		color: lime;
	}
	50% {
		text-shadow: 0 0 4px white;
		color: white;
	}
	100% {
		text-shadow: 0 0 4px lime;
		color: lime;
	}
}

@keyframes alertfade {
	from {
		background-color: rgba(0, 0, 255, 0.0);
		border-color: rgba(0, 0, 0, 0.0);
		color: rgba(255, 255, 255, 0.1);
	}
	to {
		background-color: rgba(0, 255, 255, 0.4);
		border-color: rgba(0, 0, 0, 0.8);
		color: rgba(255, 255, 255, 1.0);
	}
}
@keyframes rainbow {
	0% {
		background-color: hsl(0deg, 100%, 50%);
	}
	50% {
		background-color: hsl(180deg, 100%, 50%);
	}
	100% {
		background-color: hsl(360deg, 100%, 50%);
	}
}
#alertbox {
	position: absolute;
	top: 35%;
	left: 35%;
	width: 30%;
	height: 30%;
	border-color: black;
	border-radius: 2px;
	border-width: 5px;
}
#alertbox.active {
	border-style: solid;
	animation-name: alertfade;
	animation-duration: 500ms;
	animation-fill-mode: both;
	z-index: 30;
}
#alertmessage {
	font-size: min(200%, calc(50000% / var(--text-length)));
	font-family: sans-serif;
	color: white;
	text-align: center;
	white-space: pre-wrap;
	overflow-wrap: break-word;
}
#alertexit {
	position: absolute;
	font-size: 200%;
	right: 5%;
	bottom: 5%;
	font-family: sans-serif;
	font-weight: bold;
}
#tooltipbox {
	--x: -1000px;
	--y: -1000px;
	z-index: 29;
	position: absolute;
	top: var(--y);
	left: var(--x);
	border: 4px solid #393C;
	border-radius: 2px;
	user-select: none;
	pointer-events: none;
	font-size: 150%;
	font-family: sans-serif;
	color: white;
	background-color: #55EA;
	padding: 2px 5px;
}
