/*
Z indexes:
Error background and loading background: 0
Canvases: 10 - 19
Click capture: 20
Toolbar: 22
Resources: 23
Tooltip window: 24
Active alert box: 30
*/


html,body {
	width: 100%;
	height: 100%;
	margin: 0px;
	overflow: hidden;
}
canvas {
	border-right: 2px dashed green;
	border-bottom: 2px dashed green;
	position: absolute;
	z-index: calc(10 + var(--z));
}

#error_background {
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background-color: red;
	text-align: center;
	font-size: 250%;
	padding: 50px 20px;
	font-family: sans-serif;
	font-weight: bold;
	z-index: 0;
}
#loading_background {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #44C;
	text-align: center;
	font-size: 200%;
	z-index: 0;
}
#game_background {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
	color: black;
}
#toolbar {
	position: absolute;
	display: flex;
	width: 60%;
	height: 7%;
	bottom: 10px;
	left: 20%;
	--cell-size: calc(10% - 20px - 1%);
	background-color: rgba(0, 0, 255, 0.2);
	border-radius: 5%;
	z-index: 22;
}
.hidden {
	margin-top: 10000%;
	position: absolute;
	display: none;
	visibility: hidden;
}
.selected {
	border: 5px ridge green;
}
#clickcapture {
	z-index: 20;
	position: absolute;
	width: 100%;
	height: 100%;
}
#hudtext {
	z-index: 23;
	position: absolute;
	left: 0;
	padding-left: 5px;
	width: 20%;
	font-size: 24px;
	font-family: sans-serif;
	color: white;
	text-shadow: 0 0 1px black;
	border: 2px solid green;
	background-color: #077A;
}
#resources {
	position: absolute;
	z-index: 23;
	left: 32.5%;
	right: 32.5%;
	width: 35%;
	text-align: center;
	font-size: 24px;
	font-family: sans-serif;
	color: white;
	text-shadow: 0 0 1px black;
	border: 2px solid green;
	background-color: #077A;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
#objective {
	position: absolute;
	z-index: 23;
	right: 0;
	top: 0;
	min-height: 10%;
	min-width: 15%;
	max-width: 25%;
	background-color: #077A;
	font-family: sans-serif;
	padding-left: 10px;
	padding-bottom: 10px;
}
#objective-title {
	margin-bottom: 5px;
}
#objective-text {
	font-size: 26px;
	text-align: center;
	color: white;
	text-decoration: underline;
}
/* #objective-complete-icon {
	color: lime;
	font-size: 36px;
} */
#objective-complete-icon.disabled {
	display: none;
}
#objective-next-button {
	color: white;
	font-size: 40px;
	cursor: pointer;
	animation: flashgreen 1s infinite;
}
#objective-next-button.disabled {
	display: none;
}
#objective-description {
	color: #DDD;
}
#resources span {
	overflow-x: visible;
	white-space: nowrap;
}
#resources span.flashing {
	animation-name: flashred;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}
#resources span::before {
	--size: 28px;
	width: var(--size);
	height: var(--size);
	margin-right: 4px;
	background-size: var(--size);
	content: "";
	display: inline-block !important;
	background-image: var(--image-url);
}
#toolbar img {
	cursor: pointer;
	user-select: none;
}
#toolbar img.locked {
	filter: opacity(0.3) brightness(0);
	cursor: not-allowed;
}
@keyframes flashred {
	0% {
		text-shadow: 0 0 4px red;
		color: red;
	}
	50% {
		text-shadow: 0 0 4px white;
		color: white;
	}
	100% {
		text-shadow: 0 0 4px red;
		color: red;
	}
}
@keyframes flashgreen {
	0% {
		text-shadow: 0 0 4px lime;
		color: lime;
	}
	50% {
		text-shadow: 0 0 4px white;
		color: white;
	}
	100% {
		text-shadow: 0 0 4px lime;
		color: lime;
	}
}

@keyframes alertfade {
	from {
		background-color: rgba(0, 0, 255, 0.0);
		border-color: rgba(0, 0, 0, 0.0);
		color: rgba(255, 255, 255, 0.1);
	}
	to {
		background-color: rgba(0, 255, 255, 0.4);
		border-color: rgba(0, 0, 0, 0.8);
		color: rgba(255, 255, 255, 1.0);
	}
}
@keyframes rainbow {
	0% {
		background-color: hsl(0deg, 100%, 50%);
	}
	50% {
		background-color: hsl(180deg, 100%, 50%);
	}
	100% {
		background-color: hsl(360deg, 100%, 50%);
	}
}
#alertbox {
	position: absolute;
	top: 35%;
	left: 35%;
	width: 30%;
	height: 30%;
	border-color: black;
	border-radius: 2px;
	border-width: 5px;
}
#alertbox.active {
	border-style: solid;
	animation-name: alertfade;
	animation-duration: 500ms;
	animation-fill-mode: both;
	z-index: 30;
}
#alertmessage {
	font-size: min(200%, calc(50000% / var(--text-length)));
	text-align: center;
	overflow-wrap: break-word;
}
#alertexit {
	position: absolute;
	font-size: 200%;
	right: 5%;
	bottom: 5%;
}
#tooltipbox {
	--x: -1000px;
	--y: -1000px;
	z-index: 24;
	position: absolute;
	top: var(--y);
	left: var(--x);
	border: 4px solid #393C;
	border-radius: 2px;
	user-select: none;
	pointer-events: none;
	font-size: 150%;
	font-family: sans-serif;
	color: white;
	background-color: #55E8;
	padding: 2px 5px;
}
